<div class="d-flex">
  <div class="card m-1">
    <div class="card-body p-2">
      <a
        class="mb-0"
        href="https://www.linkedin.com/in/1123faisal"
        target="_blank"
      >
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
    </div>
  </div>
  <div class="card m-1">
    <div class="card-body p-2">
      <a
        class="mb-0"
        href="https://1123faisal.github.io/portfolio/"
        target="_blank"
      >
        <i class="fa fa-github fa-lg" style="color: #333333"></i>
      </a>
    </div>
  </div>
</div>
